$ice: #e0fbfc
$snow: #c2dfe3
$gray: #9db4c0
$clay: #5c6b73
$black: #253237

body
    background-color: $snow
    display: flex
    flex-direction: column
    align-items: center
    justify-items: center
.cont
    width: 1000px
    display: flex
    justify-items: center
    align-items: center
    flex-direction: column
    

header
    background-color: $ice
    border: $clay solid 2px
    width: 100%
    display: grid
    grid-template-columns: 1fr 1fr 1fr
    display: flex
    justify-items: center
    align-items: center
    position: relative

    .header-item
        width: 100%
        height: 100%

        .header-left
            display: flex
            justify-content: start
            margin-left: 30px   

        .header-right
            display: flex
            justify-content: end
            margin-right: 30px

.fav
    border: $gray solid 2px
    height: 60px

.fav_image
    height: 60px
.title
    margin-left: 20px 
    color: $clay

.button-upload
    border: $clay
    background-color: $clay
    color: $ice
    border-radius: 10px
    height: 35px
    width: 75px

.grid
    display: grid
    grid-gap: 15px
    grid-template-columns: repeat(auto-fit, 300px)
    width: 100% 
    justify-items: center

$n: 5
$tile_bg_colors: #8ab5be, #f5d088, #dfa589, #f5edd5, #889094
$tile_border_colors: #006073, #EE9B00, #BB3E03, #E9D8A6, #001219


@for $i from 1 through 100
  .tile:nth-child(#{$i})
    background-color: nth($tile_bg_colors, (($i - 1)% $n+1))
    border: nth($tile_border_colors, (($i - 1)% $n+1)) solid 2px
    box-shadow: 5px 5px 5px nth($tile_border_colors, (($i - 1)% $n+1))
    .region
        background-color: nth($tile_bg_colors, (($i - 1)% $n+1))
        border: nth($tile_border_colors, (($i - 1)% $n+1)) solid 2px
        border-radius: 3px
        position: absolute
        top: 10px
        left: 10px
        font-size: 1.2rem
        padding: 2px
        

.tile
    width: 70%
    padding: 15px
    margin: 20px
    border-radius: 10px
    position: relative

    .tile_image
        width: 100%


