@import "/node_modules/bootstrap/scss/bootstrap.scss"

$ice: #e0fbfc
$snow: #c2dfe3
$gray: #9db4c0
$clay: #5c6b73
$black: black

$n: 5
$tile_bg_colors: #8ab5be, #f5d088, #dfa589, #f5edd5, #889094
$tile_border_colors: #006073, #EE9B00, #BB3E03, #E9D8A6, #001219

@mixin tile-style($bg-color, $border_colors, $text-color)
    background-color: $bg-color
    color: $text-color
    border: $border_colors solid 2px
    box-shadow: 5px 5px 5px $border_colors

@mixin region-style($bg-color, $border_colors, $text-color)
    background-color: $bg-color
    color: $text-color
    border: $border_colors solid 2px

@mixin button-style($bg-border_color)
    border: $bg-border_color solid 2px

@media (min-width: 2000px)
    .row-cols-extralarge-5 > *
        flex: 0 0 18%

body
    display: flex
    background-color: $snow
    flex-direction: column
    align-items: center
    justify-items: center

.m-head
    width: 100%
    display: flex
    flex-direction: column
    .m-head-item
        padding: 10px
        width: 100%
        display: flex
        justify-items: space-between
        justify-content: space-between
    .m-image
        max-width: 100%
        height: auto

.loading-image
    padding: 5px
    animation: spin 2s linear infinite


@keyframes spin 
    0% 
        transform: rotate(0deg) 
    100%
        transform: rotate(360deg)


nav
    background-color: $ice
    border: $clay solid 2px
    width: 90%
    .header-left
        display: flex
        align-items: center
        padding: 10px
        .fav
            .fav-image
                height: 70px
        .header-text
            color: $black
    .header-right
        display: flex
        padding: 10px
        .button-upload
            border: $clay
            background-color: $clay
            color: white
            border-radius: 10px
            height: 35px
            width: 75px
        .notify
            position: absolute
            top: 20px 
            right: 20px
            flex-direction: row
            justify-items: space-between
            justify-content: space-between
.cont
    width: 100%
    min-height: 770px
    display: flex
    align-items: start
    flex-direction: column
    .header-text
        color: $black
    .tiles
        justify-items: center
        justify-content: center
@for $i from 1 through 5
        .tile:nth-child(5n+#{$i})
            @include tile-style(nth($tile_bg_colors, $i), nth($tile_border_colors, $i), $black)
            padding: 15px
            margin: 10px
            border-radius: 10px
            position: relative
            .region
                @include region-style(nth($tile_bg_colors, $i), nth($tile_border_colors, $i), $black)
                position: absolute
                top: 10px
                left: 10px
                font-size: 1.2rem
                padding: 2px
                border-radius: 3px
            .card-text
                margin-bottom: 40px
            .my-card-footer
                position: absolute
                bottom: 5px
                width: 95%
                margin-left: auto
                margin-right: auto
                left: 0
                right: 0
                text-align: center
                .info-button
                    width: 100%
                    @include button-style(nth($tile_border_colors, $i))

footer
    flex-shrink: 0
    border-top: 2px solid $black
    width: 100%
    height: 70px
    display: flex
    justify-items: space-between
    justify-content: space-between
    align-items: center
    position: relative
    .footer-left
        display: inline-flex
        justify-content: center
        padding: 10px
        .author
            color: $black
            margin-top: auto
            margin-bottom: auto
    .footer-right
        display: flex
        padding: 10px
        align-content: middle
        .icons
            display: flex
            vertical-align: middle
            .icon-image
                padding: 5px
                height: 50px